/* ===== Webサイト全体のスタイル ===== */
/* html */
html {
  height: 100%;
}

/* body */
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

/* h1見出し */
h1 {
  color: #ffffee;/* フォントの色 */
  font-size: 90px;/* フォントの大きさ */
  font-family: lobster;/* フォントの種類 */
  border-style: solid;/* 線の種類 */
  border-color: pink;/* 線の色 */
  border-width: 0px;/* 線の太さ */
  text-align: center;/* 文字・画像を中央にそろえる */
  border-radius: 90px;/* 枠線の角丸 */
  padding: 20px;/* 内側の余白 */
  margin: 30px;/* 外側の余白 */
}

/* ===== ヘッダーのスタイル ===== */
/* ヘッダーの箱 */
header {
  background-image: url(https://github.com/kuraneko1/kuraneko2.github.io/blob/main/maxresdefault.jpg?raw=true);/* 背景画像 */
  height: 650px;/* 高さ */
  padding-top: 20px;/* 上がわの余白 */
  background-size: cover;
  background-repeat: no-repeat;
  
}


/* ===== お店紹介のスタイル ===== */
/* セクション */
.shop {
  background-color: #F0F8FF;/* 背景の色 */
  color: #1f3134;
  padding: 20px;
    margin-bottom: 50px;
}

/* h2見出し */
.title {
  font-size: 30px;
  border-left-style: solid;
  border-left-width: 10px;
  padding-left: 30px;
  margin-bottom: 50px;
}

/* 段落 */
.shop p {
  font-size: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  background-size: cover;
}

/* 画像 */
.shop img {
  float: right;/* 画像や箱の回り込み */
}


/* ===== パン紹介のスタイル ===== */
/* セクション */
.photo {
  padding: 30px;
  /*background-image: url(https://github.com/kuraneko1/kuraneko2.github.io/blob/main/mc.jpg?raw=true);*/
  background-color:#e7e7eb;
}

/* h2見出し */
.photo h2 {
  color: #000000;
  border-color: #0d0015;
}

/* h3見出し */
.photo h3 {
  color: #000000;
}

/* 段落 */
.photo p {
  font-size: 30px;
  color: #000000;
  clear: left;/* 画像や箱の回り込みをやめる */
  background-color: #ffffff;
  padding:20px;
  border-radius: 30px;
}

.photo div {
  background-color: #F0F8FF;
  width: 375px;/* 横幅を指定する */
  padding: 15px;
  float: left;
  margin: 10px;
  box-shadow: 10px 10px 20px #000000;/* 影を指定する */
  margin-bottom: 50px;
  
}
.photo Youtube{
  background-color: #17184b;
  width: 560px;/* 横幅を指定する */
  padding: 15px;
  float: left;
  margin: 10px;
  box-shadow: 10px 10px 20px #000000;/* 影を指定する */
  margin-bottom: 50px;
  
}

